<div class="container my-3 d-flex justify-content-center">
  <div class="row w-auto justify-content-center">
  <h1 class="text-center custom-title">Edit an appliance</h1>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <%= simple_form_for @appliance do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :capacity %>
        <%= f.input :city %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>



 <%# <div class="col-xs-6 col-sm-6 col-sm-offset-1"> %>
