<div class='container mt-5'>
  
  <img src="https://images.unsplash.com/photo-1512594282804-b5f400408c9d" alt="" height='400px' class='w-100 object-fit-cover position-center rounded-4'>
  <div class='row mt-3'>
    <div class='col-12 col-lg-8'>
      <h1 class='display-5 fw-bold py-2'><%= @appliance.name %></h1>
      <p class='py-2'><i class='fa-solid fa-user-group'></i> <strong><%= @appliance.capacity %></strong>, <i class='fa-solid fa-location-dot'></i> <strong><%= @appliance.city %></strong></p>
      <p class='py-2'><%= @appliance.description %></p>
    </div>
    <div class='col-12 col-lg-4'>
      <div class='bg-white rounded-4 shadow' style='height: 400px'>
        <div class='px-4 py-2'>
        <p style='fw-bold'><%= @appliance.price %>€ per night</p>
        <div>
          <%= render 'bookings/form', appliance: @appliance, booking: @booking %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
