<div class="container mt-5">
  <% if current_user == @booking.user %>

    <% if @appliance.photo.attached? %>
      <%= cl_image_tag(@appliance.photo.key, class: 'w-100 object-fit-cover position-center rounded-4', height: '400px') %>
    <% else %>
      <%= image_tag("default_appliance.jpg", class: 'w-100 object-fit-cover position-center rounded-4', height: '400px') %>
    <% end %>
    <div class='row mt-3'>
      <div class='col-12 col-lg-8'>
        <h1 class='display-5 fw-bold py-2'><%= @booking.appliance.name %></h1>
        <p><%= "Total price : #{@booking.total_price}€" %></p>
        <% if @booking.accepted == nil %>
          <p>Status: <span style="color: orange"><i class="fa-regular fa-hourglass-half"></i></span> <%= "Pending" %></p>
        <% elsif @booking.accepted == true %>
          <p>Status: <span style="color: DarkGreen"><i class="fa-solid fa-circle-check"></i></span> <%= "Accepted" %></p>
        <% else @booking.accepted == false %>
          <p>Status: <span style="color: maroon"><i class="fa-solid fa-circle-xmark"></i></span> <%= "Declined" %></p>
        <% end %>
      </div>
    </div>

  <% elsif current_user == @booking.appliance.user %>
    <%= link_to "Accept", accept_path(@booking), class: "btn btn-success", data: { turbo_method: :patch } %>
    <%= link_to "Decline", decline_path(@booking), class: "btn btn-danger", data: { turbo_method: :patch } %>

  <% end %>
</div>
