<div class="container">
<% if current_user == @booking.user %>
  <%= @booking.appliance.name %>
    <% if @booking.accepted == nil %>
    <%= "Pending" %>
    <% elsif @booking.accepted == true %>
      <%= "Accepted" %>
    <% end %>
<% elsif current_user == @booking.appliance.user %>
  <%= link_to "Accept", accept_path(@booking), class: "btn btn-success", data: { turbo_method: :patch } %>
  <%= link_to "Decline", decline_path(@booking), class: "btn btn-danger", data: { turbo_method: :patch } %>
<% end %>
</div>
