<div class="container my-3">

  <h1 class="text-center">My appliances</h1>
  <div class="row justify-content-center">

    <% @appliances.each do |appliance| %>
      <div class="col-4 p-3">

        <div class="card-trip">
          <% if appliance.photo.attached? %>
            <%= cl_image_tag(appliance.photo.key) %>
          <% else %>
            <%= image_tag("default_appliance.jpg") %>
          <% end %>

          <div class="card-trip-infos">
            <h2><%= appliance.name %></h2>
            <div class="d-flex">
              <p class="card-trip-pricing me-2"><i class="fa-solid fa-user-group"></i> <strong><%= appliance.capacity %></strong>,</p>
              <p class="card-trip-pricing me-2"><i class="fa-solid fa-location-dot"></i> <strong><%= appliance.city %></strong>,</p>
              <p class="card-trip-pricing"><i class="fa-solid fa-euro-sign"></i> <strong><%= appliance.price %></strong></p>
            </div>
          </div>

          <div class="px-3">
            <p class="mb-2"><%= appliance.description[0..110] %>...</p>
          </div>

          <div class="card-trip-infos justify-content-end">
            <%= link_to edit_appliance_path(appliance) do %>
              <span style="color: #01497C" class="me-3"><i class="fa-solid fa-pencil"></i></span>
            <% end %>

            <%= link_to appliance_path(appliance), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <span style="color: #01497C"><i class="fa-solid fa-trash"></i></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
